body {
	padding: 0;
	margin: -20px 0 0 0;
	text-align: center;
	font-family: Georgia, serif;
	background: #f4f4f4 url("//C:/Users/amber_alger/Downloads/connect.png") repeat right top;
}

body a:hover {
	color: #007ab9;
}

.content-area {
		width: 960px;
		margin: auto;
}

header {
	background: #f4f4f4 url("//C:/Users/amber_alger/Downloads/cubes.png") repeat right top;
	height: 110px;
	font-family: Georgia, serif;
	border-bottom: #cacaca 2px solid;
	margin-bottom: 40px;
}

.logo {
	margin-top: 44px;
	margin-left: 150px;
	display: block;
	float: left;
	background-color: #efefef;
	color: #007ab9;
	padding:15px;
	border-radius: 5px 5px 0 0;
}

.nav {
	float: right;
	padding-right: 10px;
	padding-top: 30px;
}
header a {
	text-decoration: none;
	color: #4E4E4E;
	font-weight: bold;
}

header li {
	list-style-type: none;
	display: inline;
	color: #007ab9;
}

h2 {
	color: #007ab9;
}

.connect {
	float: right;
	width: 235px;
	height: 150px;
	border: #c0c0c0 1px solid;
	border-radius: 5px;
	background-color: #FFFFFF;
	padding: 15px;
}

.connect-icon {
	width: 50px;
}

.main-content {
	width: 600px;
	border: #c0c0c0 1px solid;
	border-radius: 5px;
	text-align: left;
	padding: 25px;
	background-color: #FFFFFF;
	height: auto;
	overflow: auto;
}

.main-content p {
	font-size: 16px;
	color: #535353;
	line-height: 23px;
}

.main-content img {
	float: left;
	width: 160px;
	margin: 10px;
	border-radius: 15px;
	height: auto;
}


textarea {
	height: 200px;
	width: 600px;
	margin-bottom: 10px;
}

Input {
	margin-bottom: 10px;
	width: 600px;
}

input[type=submit] {
	width: 100px;
}

footer {
	margin: 10% 0 0 0;
	border-top: #c0c0c0 5px solid;
	height: 100px;
	background-color: #f4f4f4;
	font-size: 12px;
}
